[
{% for host in groups.api_servers %}


     {
        s_name: '{{ hostvars[host].server_name }}',

        s_secret: '{{ lookup('password', inventory_group + '/' + hostvars[host].server_name + '/relayer_server_cross_site_secret length=15') }}',

        s_roles: [

           {% if host in groups.accountapi_servers %}
              'accountapi',
           {% endif %}

           {% if host in groups.dns_servers %}
              'tapi',
           {% endif %}

           {% if host in groups.web_servers %}
              'webhosting',
           {% endif %}

           {% if host in groups.db_servers %}
              'database',
              'mysql',
           {% endif %}

           'geoip',

           {% if host in groups.installatron_servers %}
              'installatron',
           {% endif %}

           {% if host in groups.mail_servers %}
              'email',
           {% endif %}

        ]

     },


{% endfor %}
]
