[
{% for host in (groups['workers']+groups['cert_only_servers']|default([])) %}

  {% if hostvars[host].server_name %}

       client_{{ hostvars[host].server_name }}.{{ service_main_domain }},

  {% endif %}

{% endfor %}
]
