{
     e_email: '{{ account.e_email | default(tech_admin_email) }}',
     c_password: '{{ lookup('password', inventory_group + '/primary_account_password length=15') }}',
     u_name: '{{ account.u_name }}',
     u_language: '{{ account.u_language | default('en') }}',
     t_country_code: '{{ account.t_country_code }}',
     t_area_code: '{{ account.t_area_code }}',
     t_phone_no: '{{ account.t_phone_no }}',
}
