[
{% for php_version in php_server_versions %}

     {
       category: "php",
       host: "php-{{ php_version|replace(".","") }}",
       image: "buster-php-{{ php_version }}",
       container_name: "hacktest_php_{{ php_version|replace(".","") }}",
       wh_id: "{{storage.wh_id}}",
       expected_hello: "Hello from a PHP application: {{ php_version }}",

     },

{% endfor %}
]
