[
{% for host in groups['workers'] %}

  {% if hostvars[host].server_name %}

     { service: "account",      c_server: "{{ hostvars[host].server_name }}", c_grants: ["SEND_EMAIL","FEED_LOGIN_IP","EMIT_LOG","INFO_WEBHOSTING"], no_server_lock: True },

     { service: "cert",         c_server: "{{ hostvars[host].server_name }}", c_grants: ["CERT_ATTACH","EMIT_LOG","INFO_ACCOUNT","INFO_WEBHOSTING","SEND_EMAIL_TO_USER"]  },

     { service: "dbms",         c_server: "{{ hostvars[host].server_name }}", c_grants: ["FILEMAN_UPLOAD_DBBACKUP","ADMIN_TALLY","EMIT_LOG","INFO_ACCOUNT","INFO_WEBHOSTING","SEND_EMAIL_TO_USER"]  },

     { service: "docroot",      c_server: "{{ hostvars[host].server_name }}", c_grants: ["EMIT_LOG","INFO_WEBHOSTING","BAN_IP"]  },

     { service: "email",        c_server: "{{ hostvars[host].server_name }}", c_grants: ["ADMIN_TALLY","FILEMAN_MAILDIRMAKE","EMIT_LOG","INFO_ACCOUNT","INFO_WEBHOSTING","SEND_EMAIL","SEND_EMAIL_TO_USER"]  },

     { service: "event",        c_server: "{{ hostvars[host].server_name }}", c_grants: ["LOGINLOG_EVENT_REPORT","BAN_IP","ESCALATE_EXCEPTION","FEED_HOSTSSH_IP"]  },

     { service: "fileman",      c_server: "{{ hostvars[host].server_name }}", c_grants: ["EMIT_LOG","INFO_ACCOUNT","INFO_WEBHOSTING"]  },

     { service: "ftp",          c_server: "{{ hostvars[host].server_name }}", c_grants: ["ADMIN_TALLY","EMIT_LOG","INFO_WEBHOSTING"]  },

     { service: "geoip",        c_server: "{{ hostvars[host].server_name }}", c_grants: ["EMIT_LOG"]  },

     { service: "git",          c_server: "{{ hostvars[host].server_name }}", c_grants: ["EMIT_LOG","INFO_WEBHOSTING","DOCROOT_ENTRIES"]  },

     { service: "installatron", c_server: "{{ hostvars[host].server_name }}", c_grants: ["EMIT_LOG"]  },

     { service: "iptables",     c_server: "{{ hostvars[host].server_name }}", c_grants: ["EMIT_LOG","INFO_WEBHOSTING"]  },

     { service: "mailer",       c_server: "{{ hostvars[host].server_name }}", c_grants: ["EMIT_LOG"]  },

     { service: "tapi",         c_server: "{{ hostvars[host].server_name }}", c_grants: ["EMIT_LOG"]  },

     { service: "webhosting",   c_server: "{{ hostvars[host].server_name }}", c_grants: ["EMIT_LOG","INFO_ACCOUNT","INFO_WEBHOSTING_TEMPLATE","ADMIN_TALLY","SEND_EMAIL_TO_USER"]  },

     { service: "docker",       c_server: "{{ hostvars[host].server_name }}", c_grants: ["EMIT_LOG","INFO_WEBHOSTING","DOCROOT_ENTRIES","MAIL_SERVICE_PASSWORD_LOOKUP"]  },

     { service: "relayer",      c_server: "{{ hostvars[host].server_name }}", c_grants: ["LOGINLOG_EVENT_REPORT","INFO_ACCOUNT","INFO_WEBHOSTING_TEMPLATE","INFO_SERVERS","INFO_WEBHOSTING","INFO_SESSION","ACCOUNT_LOCAL_WEBSTORES","ESCALATE_EXCEPTION","SEND_EMAIL_TO_USER"], no_server_lock: True },

  {% endif %}

{% endfor %}
]
