[
{% for php_version in all_php_server_versions %}
{% for docker_image_name in web_servers_docker_images+(misc_docker_images|default([])) %}
{% if "-php-"+php_version+":" in docker_image_name %}

  "{{ php_version }}",

{% endif %}
{% endfor %}
{% endfor %}
]
