[
{% for storage_volume in storage_volumes %}

     {
        web: "{{ storage_volumes_root_path }}/{{ storage_volume.name }}/w3/",
        mail: "{{ storage_volumes_root_path }}/{{ storage_volume.name }}/mails/",
     },

{% endfor %}
]
