[
{% for php_version in php_server_versions %}

     {
        "basedir":"/usr/local/php-{{php_version}}", 
        "php_logdir": "{{ php_log_dir_path }}/{{php_version}}",
        "php_version":"{{php_version}}",
        "pid_file": "/var/run/mc-php-{{php_version}}.pid", 
        "pools_directory": "{{ php_lib_dir_path }}/{{php_version}}/pools"
     },

{% endfor %}
]
